/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
    #Site Styles
    #Page Styles
    #Media Queries
    #Font-Face */

/* #Site Styles
================================================== */

body {
    background: #fff url("../images/noise.png") repeat;

}

#me {
    padding: 40px 0 20px;
}

#me h1 {
    margin-bottom: 6px;
}

#me h2 {
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    font-size: 28px;
    color: #888;
}

#profile {
/*    border-left: 1px solid #ddd;
    padding-left: 40px;
    width: 599px;*/
}

dt {
    font-weight: bold;
}

#profile p {
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    font-size: 22px;
    color: #888;
    line-height: 38px;
}

#main {
    padding-bottom: 60px;
}

hr.s {
    clear: both;
    margin-bottom: 10px;
}

a:link, a:visited {
    color: #f30;
}

a:hover, a:active {
    color: #aaa;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

    /* Smaller than standard 960 (devices and browsers) */
    @media only screen and (max-width: 959px) {}

    /* Tablet Portrait size to standard 960 (devices and browsers) */
    @media only screen and (min-width: 768px) and (max-width: 959px) {}

    /* All Mobile Sizes (devices and browser) */
    @media only screen and (max-width: 767px) {}

    /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
    @media only screen and (min-width: 480px) and (max-width: 767px) {}

    /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
    @media only screen and (max-width: 479px) {}
